*{
    margin:0;
    padding: 0;
}
body{
    background-color: #992fe0;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 100px;
    max-width: 1920px;
}

/* GAME.PHP */

#preguntas_contenedor{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenidoPregunta{
    text-align: center;
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid red;
}