@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Estilo general para la página */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,#6610f2 0%, #6f42c1 80%);
    
}
/* INDEX.PHP */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

/* Enlace al inicio */
a:hover {
    color: #0056b3;
}
#nameAndPublishDiv {
    display: none;
}

#nameAndPublishDiv input {
    text-align: center;
}

#publishButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.button i {
    margin-top: 5px; /* Ajusta el espacio entre el texto y el icono */
}

/* Estilos base para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #1d060c;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo cuando se pasa el cursor sobre el botón */
.button:hover {
    background-color: #0056b3;
    color: #fff;
}

/* Estilo para el botón de envío del formulario */
.button[type="submit"].button {
    background-color: #7e2a5b;
}

.button[type="submit"].button:hover {
    background-color: #4e003d;
}

/* Estilo para el botón de reinicio del formulario */
.button[type="reset"].button {
    background-color: #dc3545;
}

.button[type="reset"].button:hover {
    background-color: #b72e37;
}

/* Estilo para el botón con icono (icono a la izquierda del texto) */
.button.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.icon i {
    margin-right: 5px; /* Espaciado entre el icono y el texto */
}

/* Estilo para el botón de "Publicar" con icono de Font Awesome */
.button.publish {
    background-color: #17a2b8;
}

.button.publish:hover {
    background-color: #138496;
}

.login{
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #1d060c;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    z-index: 3;
}
.login:hover {
    background-color: #0056b3;
    color: #fff;
}

.divLogin{
    display: flex;
    justify-content: right;
    margin-right: 1%;
}

/* GAME.PHP */
.lvlDifivultad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 8px outset #b3b3b2;
    padding: 10px;
    border-radius: 19px 26px 0px 0px;
    align-items: flex-start;
    background: #0069bb;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%); 
    color: white;
}
#preguntas_contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.preguntasRespuestasDiv {
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border-radius: 19px 0px 26px 0px ;
    border: 8px outset #b3b3b2;
}

.contenidoPregunta{
    color: white;
    width: 1250px;
    margin-bottom: 50px;
    text-align: center;
    border: 8px outset #b3b3b2;
    padding: 20px;
    border-radius: 19px 26px 0px 0px;
    background: transparent;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%); 
    
}
.respuestas{
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 50%;
    width: 80%;
    margin-left: 130px;
    margin-bottom: 50px;
    
}
.contenidoRespuesta{
    cursor: pointer;
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: 80px;
    color: white;
}
/* .contenidoRespuesta:hover{
    background: radial-gradient(circle farthest-corner at center center, #ffc107 0%, #fd7e14 70%);

} */
.backgroundContenidoRespuesta{
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
}
.backgroundContenidoRespuesta:hover{
    background: radial-gradient(circle farthest-corner at center center, #ffc107 0%, #fd7e14 70%);

}
.btonBloqueado{
    background: radial-gradient(circle farthest-corner at center center, #a29f9f 0%, #48484b 80%);
    cursor: auto;
}
.backgroundContenidoRespuestaCorrecta{
    background: radial-gradient(circle farthest-corner at center center, #57da57 0%, #126f12 80%);
}
.backgroundContenidoRespuestaIncorrecta{
    background: radial-gradient(circle farthest-corner at center center, #ff0000 0%, #681c1c 70%);
}
.bannerMillonario{
    display: flex;
    justify-content: center;
    align-content: center;
}
.bannerImagen{
    
    text-align: center; /* Alinea el texto al centro */
    position: center; /* Fija el banner en la pantalla */
    width: 455px; /* Ancho del banner al 100% de la pantalla */
    top: 0; /* Sitúa el banner en la parte superior */
}
.oculto {
    display: none;
}


#nextQuestions{
    cursor: pointer;
    text-align: center;
    font-size: x-large;
    height: 80px;
    color: white;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    width: auto;
    padding: 10px;
    margin-bottom: 40px;
}
#nextQuestions:hover{
    background: radial-gradient(circle farthest-corner at center center, #ffc107 0%, #fd7e14 70%);

}
/* LOSE.PHP-WIN.PHP */

.divImagenPrincipal{
    display: flex;
    justify-content: center;
    align-content: center;
}
.imagenPrincipal{
    
    text-align: center; /* Alinea el texto al centro */
    position: center; /* Fija el banner en la pantalla */
    width: 700px; /* Ancho del banner al 100% de la pantalla */
    top: 0; /* Sitúa el banner en la parte superior */
}
.bodyLoseWin{
    Overflow: hidden;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#name {
    text-align: center;
}
.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 400px;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border: 8px outset #b3b3b2;
    padding: 20px;
    border-radius: 19px 0px 26px 0px;
    width: 700px;
    color: white;
}
#divLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    height: 400px;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border: 8px outset #b3b3b2;
    padding: 20px;
    border-radius: 19px 0px 26px 0px;
    width: 700px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    color: white;
    gap: 4%;
}
.tituloLost{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;

}
.preguntaPublicar{
   margin-top: 20px;
   gap: 10px;
}
.score{
    margin-bottom: 20px;
}
.divExtras{
    margin-top: 20px;
    margin-left: 0px;
    gap: 10px;
    flex-direction: column;
}

/* NOSCRIPT */
.avisoJS{
    background-color: red;
    color: white;
    width: 40%;
    text-align: center;
    height: 25%;
    margin: 0% 30%;
    padding: 3px;
    bottom: 38%;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    font-family: Arial;
    font-size: 15.7px;
    position: fixed; 
}
.fondoDesenfocado{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); 
}
.titleNoscript{
    margin-top: 25px;
}

/* index.php */
.buttonsGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsGroup a:first-child {
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 100%;
    font-size: 150%;
}

.buttonsGroup a:nth-child(2) {
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 100%;
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}
  
#languages img {
    margin: 10px;
    width: 99px;
    height: 66px;
    object-fit: cover;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.3s;
    border: 2px solid #1d060c;
    

}
  
#languages img:hover {
    filter: brightness(70%);
    transform: rotate(360deg);
    border-radius: 50%;
}
  
#banner {
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#banner img {
    height: 180px;
    width: auto;
}

.h1Titulo{
    color: #1d060c;
    text-align: center;
    font-family: 'Alfa Slab One', serif;
    font-size: 250%;
    margin: 10px 0px 0px;
    -webkit-text-stroke: 0.5px #b3b3b2;
}

#ul-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    padding: 20px;
    border-radius: 19px 0px 26px 0px;
    border: 8px outset #b3b3b2;
    list-style: none;
    max-width: 60%;
    text-align: justify;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 15px 0px 15px;
}
li {
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
}

.text-container {
    margin-left: 20px;
}


#cronometro2 {
    width: 150px; /* Ancho fijo de la caja */
    height: 40px; /* Alto fijo de la caja */
    background: #0069bb;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border: 5px outset #b3b3b2;
    border-radius: 19px 26px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    margin: 80px;
    z-index: 50;
}

/* GAME.PHP BOTONES COMODINES */
.comodines{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    margin-left: 90%;
    margin-top: 10px;
    padding: 10px;  
    text-align: center;
    gap: 15px;
    position: fixed;
    z-index: 50;


}
.oval {
    cursor: pointer;
    width: 80px;
    height: 50px;
    background-color: #ccc;
    border: 2px solid white;
    border-radius: 50% / 50%;
    color: white;
}
.ovalBackground{
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
}
.ovalBackground:hover{
    background: radial-gradient(circle farthest-corner at center center, #ffc107 0%, #fd7e14 70%);

}
.comTiempo{
    font-size: large;
}
.comPublico{
    font-size: large;

}

.btonBloqueadoComodin{
    background: radial-gradient(circle farthest-corner at center center, #a29f9f 0%, #48484b 80%);
    cursor: auto;

}
/* POPUP COMODIN PUBLICO */

.modal {
    display: none;
    z-index: 60;
    position: fixed;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra en ambas direcciones */
    height: 400px;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border: 8px outset #b3b3b2;
    padding: 20px;
    border-radius: 19px 0px 26px 0px;
    width: 700px;
    color: white;
    margin-left: -374px;
    margin-top: -137px;
}

  
  
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 


  .CronoPregunta {
    width: 150px; /* Ancho fijo de la caja */
    height: 20px; /* Alto fijo de la caja */
    background: #0069bb;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border: 5px outset #b3b3b2;
    border-radius: 19px 26px 0px 0px;
    text-align: center;
    color: white;
    font-size: 20px;
}

#divImgQuestion {
    text-align: center;
    margin: 30px;
}
.questionImg {
    width: 400px;
    height: auto;
}
.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }








.userRow {
    background-color: #4e003d;
    color: white;
}

  
/* LOGIN.PHP */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: white;
        font-weight:500;    
    }
    padding-bottom: 6px;  
    font-weight: 400;
    border-width: 3px;
    border-image: linear-gradient(268deg,#df10de 0%, #5b1683 80%);
    border-image-slice: 1;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}


.buttonLogin {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border: 2px solid #1d060c;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-button-shadow-border-sliding--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #4433ff;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--sky:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--sky:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #8b2cb1;
    right: 0;
  }
  .css-button-shadow-border-sliding--sky:active {
    top: 2px;
  }
