@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Estilo general para la página */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #7cb0c8;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,#6610f2 0%, #6f42c1 80%);
    
}
/* INDEX.PHP */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

/* Enlace al inicio */
a:hover {
    color: #0056b3;
}
#nameAndPublishDiv {
    display: none;
}

#publishButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button i {
    margin-top: 5px; /* Ajusta el espacio entre el texto y el icono */
}

/* Estilos base para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #1d060c;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo cuando se pasa el cursor sobre el botón */
.button:hover {
    background-color: #0056b3;
    color: #fff;
}

/* Estilo para el botón de envío del formulario */
button[type="submit"].button {
    background-color: #28a745;
}

button[type="submit"].button:hover {
    background-color: #1f8e35;
}

/* Estilo para el botón de reinicio del formulario */
button[type="reset"].button {
    background-color: #dc3545;
}

button[type="reset"].button:hover {
    background-color: #b72e37;
}

/* Estilo para el botón con icono (icono a la izquierda del texto) */
.button.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.icon i {
    margin-right: 5px; /* Espaciado entre el icono y el texto */
}

/* Estilo para el botón de "Publicar" con icono de Font Awesome */
.button.publish {
    background-color: #17a2b8;
}

.button.publish:hover {
    background-color: #138496;
}


/* GAME.PHP */
.lvlDifivultad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 8px outset #b3b3b2;
    padding: 10px;
    border-radius: 19px 26px 0px 0px;
    align-items: flex-start;
    background: #0069bb;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%); 
    color: white;
}
#preguntas_contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.preguntasRespuestasDiv {
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border-radius: 19px 0px 26px 0px ;
    border: 8px outset #b3b3b2;
}

.contenidoPregunta{
    color: white;
    width: 1250px;
    margin-bottom: 50px;
    text-align: center;
    border: 8px outset #b3b3b2;
    padding: 20px;
    border-radius: 19px 26px 0px 0px;
    background: transparent;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%); 
    
}
.respuestas{
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 50%;
    width: 80%;
    margin-left: 130px;
    margin-bottom: 50px;
    
}
.contenidoRespuesta{
    cursor: pointer;
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: 80px;
    color: white;
}
.contenidoRespuesta:hover{
    background: radial-gradient(circle farthest-corner at center center, #ffc107 0%, #fd7e14 70%);

}
.backgroundContenidoRespuesta{
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
}
.backgroundContenidoRespuestaCorrecta{
    background: green;
}
.backgroundContenidoRespuestaIncorrecta{
    background: red;
}
.bannerMillonario{
    display: flex;
    justify-content: center;
    align-content: center;
}
.bannerImagen{
    
    text-align: center; /* Alinea el texto al centro */
    position: center; /* Fija el banner en la pantalla */
    width: 455px; /* Ancho del banner al 100% de la pantalla */
    top: 0; /* Sitúa el banner en la parte superior */
}
.oculto {
    display: none;
}


.nextQuestion{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    font-size: x-large;
    width: 20%;
    height: 80px;
    color: white;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
}
.nextQuestion:hover{
    background: radial-gradient(circle farthest-corner at center center, #ffc107 0%, #fd7e14 70%);

}
/* LOSE.PHP-WIN.PHP */

.divImagenPrincipal{
    display: flex;
    justify-content: center;
    align-content: center;
}
.imagenPrincipal{
    
    text-align: center; /* Alinea el texto al centro */
    position: center; /* Fija el banner en la pantalla */
    width: 700px; /* Ancho del banner al 100% de la pantalla */
    top: 0; /* Sitúa el banner en la parte superior */
}
.bodyLoseWin{
    Overflow: hidden;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 400px;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border: 8px outset #b3b3b2;
    padding: 20px;
    border-radius: 19px 0px 26px 0px;
    width: 700px;
    color: white;
}
.tituloLost{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;

}
.preguntaPublicar{
   margin-top: 20px;
   gap: 10px;
}
.score{
    margin-bottom: 20px;
}
.divExtras{
    margin-top: 20px;
    margin-left: 0px;
    gap: 10px;
    flex-direction: column;
}



/* index.php */
.buttonsGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsGroup a:first-child {
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 100%;
    font-size: 150%;
}

.buttonsGroup a:nth-child(2) {
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 100%;
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}
  
#languages img {
    margin: 10px;
    width: 99px;
    height: 66px;
    object-fit: cover;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.3s;
    border: 2px solid #1d060c;
    

}
  
#languages img:hover {
    filter: brightness(70%);
    transform: rotate(360deg);
    border-radius: 50%;
}
  
#banner {
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#banner img {
    height: 180px;
    width: auto;
}

.h1Titulo{
    color: #1d060c;
    text-align: center;
    font-family: 'Alfa Slab One', serif;
    font-size: 250%;
    margin: 10px 0px 0px;
    -webkit-text-stroke: 0.5px #b3b3b2;
}

#ul-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    padding: 20px;
    border-radius: 19px 0px 26px 0px;
    border: 8px outset #b3b3b2;
    list-style: none;
    max-width: 60%;
    text-align: justify;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 15px 0px 15px;
}
li {
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
}

.text-container {
    margin-left: 20px;
}


#cronometro2 {
    width: 150px; /* Ancho fijo de la caja */
    height: 40px; /* Alto fijo de la caja */
    background: #0069bb;
    background: radial-gradient(circle farthest-corner at center center, #0069bb 0%, #001242 80%);
    border: 5px outset #b3b3b2;
    border-radius: 19px 26px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    margin: 80px;
}

